.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }

  &__item {
    flex: 1;
    padding: 0 2.2%;
    position: relative;
    margin-bottom: 0.6rem;

    @include tablets {
      margin-bottom: rem(17px);
    }

  
    &:first-child {
      padding-left: 0;
    }
  
    &:last-child {
      padding-right: 0;
      margin-bottom: 0;
  
      &::before {
        display: none;
      }
    }
  
    &::before {
      content: url(../images/png/shapes.png);
      position: absolute;
      top: 3.33rem;  
      right: 0;
      transform: translatex(50%);

      @include phones {
        display: none;
      }
    }
  }
}

