.btn {
  font-size: rem(16px);
  font-weight: 800;
  padding: 1.17rem 2.28rem;
  text-transform: uppercase;
  border-radius: 5.56rem;
  line-height: 1;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  display: inline-block;
  border: none;

  &--theme--light {
    background: $yellow;

    &:hover {
      background: #FFD517;
    }
  }

  &--theme--bright {
    background: #FFD517;

    &:hover {
      background: $yellow;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #fff;
    text-transform: none;
    font-weight: normal;
    padding: 1.17rem 1.28rem;
    line-height: 1.2;

    &:hover {
      font-weight: 800;
    }
  }
}
