.parameters {
  position: absolute;
  top: 0%;
  display: block;
  border-radius: rem(5px);
  background: #fff;
  opacity: 0;
  transition: opacity 1s;
  left: -9999px;
  width: rem(273px);

  &__list {
    display: flex;
    flex-direction: column;
    padding: rem(29px) rem(26px);
    gap: rem(26px);
  }

  &__item {
    align-items: center;
  }
}