.section {
  height: 100vh;
  min-height: rem(652px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--font-color--white {
  background: url(../images/png/Back-order.png) center center/cover no-repeat;
  object-fit: cover;
  color: #fff;
}

.section--background-color-gray {
  background-color: #F8FAF9;
}

.section--background-wave {
  background: url(../images/png/Back-menu.jpg) center center/cover no-repeat;
  color: #fff;
  position: relative;
  justify-content: flex-start;
}

.section--map {
  width: 100%;
  height: 100%;
  position: relative;
}

.section__title {
  font-size: rem(48px);
  font-weight: bold;
  margin-bottom: 3.33rem;
  text-align: center;
  text-transform: uppercase;

  &--review {
    margin-bottom: 1.44rem;

    @include tablets {
      margin-bottom: rem(34px);
    }
  }

  &--form {
    margin-bottom: 2.78rem;
  }

  &--team {
    margin-bottom: rem(50px);
  }

  &--variants {
    text-align: start;
    margin-bottom: 0;
    padding: 10% 8%;
    z-index: 1;

    @include phones {
      font-size: rem(40px);
      padding-left: 4%;
    }
  }
}

.section-comments__title {
  text-align: start;
}
