.headline {
  text-align: center;
  .headline__title {
    margin-bottom: 13px;
  }

  .headline__subtitle {
    color: $gray;
    padding: 0 27%;
    line-height: 1.15;
    margin-bottom: 50px;
  }
}