$containerWidth: 940px;
$basefontsize: 18px;

// breakpoints

$tablets: 768px;
$phones: 480px;

//colors
$yellow: #fedb3f;
$gray: #666;
$black: #292929;
//z-index

$z-fixed-menu: 10;
$z-logo: 5;
$z-humburger: 11;
$z-shop: -10;
$z-slider-pic: 5;
$z-slider-spot: -5;
$z-arrow: 10;

@import "./blocks/media";

// css для слайдера
@import "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css";

//normolize
@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

//setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap");

@import "../styles/blocks/*.scss";
// @import "./layout";

// //components
// @import "./hero";
// @import "./header";
// @import "./logo";
// @import "./menu";
// @import "./phone-number";

// @import "./hamburger";

// @import "./features";
// @import "./feature";
// @import "./btn";

// @import "./section";
// @import "./headline";
// @import "./benefits";
// @import "./benefit";

// @import "./slider";
// @import "./sizes";
// @import "./parameters";
// @import "./parameter";
// @import "./arrow";

// @import "./team";
// @import "./variants";

// @import "../reviews";
// @import "../interactive-avatar";

// @import "./player";

// @import "./form";
// @import "./radio";
// @import "./modal";

// @import "./fixed-menu";
// @import "./overlay";

// @import "./map";
// @import "./socials";
// @import "./footer";


