.benefit {
  text-align: center;
  
  @include phones {
    display: flex;
  }

  &__image {
    @include phones {
      margin-right: rem(15px);
    }
  }

  &__image-wrapper {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
  }

  &__icon {
    max-width: 3.78rem;
    max-height: 3.78rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-size: rem(27px);
    font-weight: bold;
    margin-bottom: rem(14px);

    @include phones {
      text-align: left;
      margin-bottom: rem(5px);
    }
  }

  &__decs {
    line-height: 1.25;
    color: #666;

    @include phones {
     text-align: left; 
    }
  }
}
