.benefit {
  text-align: center;

  .benefit__image {
    margin-bottom: 11px;

    .benefit__image-wrapper {
      display: inline-block;
      width: 126px;
      height: 126px;
      position: relative;
      background: #F2F5F4;
      border-radius: 50%;
      overflow: hidden;

      .benefit__icon {
        max-width: 68px;
        max-height: 68px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .benefit__text {
    .benefit__title {
      font-size: 27px;
      font-weight: bold;
      margin-bottom: 14px;
    }

    .benefit__decs {
      line-height: 1.25;
    }
  }
}