.benefit {
  text-align: center;
  
  &__image {
    margin-bottom: 11px;
  }

  &__image-wrapper {
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
  }

  &__icon {
    max-width: 68px;
    max-height: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 14px;
  }

  &__decs {
    line-height: 1.25;
  }
}
