.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: $z-fixed-menu;
  transition: opacity .4s;

  &--hidden {
    opacity: 0;
    height: 0;
  }

  &__item {
    margin-bottom: rem(5px);
    position: relative;
  
    &--active {
      .fixed-menu__link {
        border-color: #fff;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    display: block;
  
    &::before {
      content: "";
      display: block;
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 768px) {
  .fixed-menu {display: none;};
}




