.footer {
  padding: rem(25px) rem(10px) rem(35px) ;

  &--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
      top: 99%;
      left: 50%;
      transform: translate(-50%, -50%);

    @include phones {
      flex-direction: column;
    }
  }

  &__col {
    @include phones {
      margin-bottom: rem(16px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__address {
    font-size: rem(21px);
    color: black;
    margin-bottom: rem(5px);

    @include phones {
     margin-bottom: rem(9px); 
    }
  }

  &__socials {
    margin-right: 0.56rem;
  }

  &__phone-number {
    @include phones {
      justify-content: center;
      margin-bottom: 16px;
    }
  }
}
