.hero {
  height: 100vh;
  min-height: 652px;
  color: #fff;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 0 66px 0;
  }

  &__section {
    width: 50%;
  }

  &__title {
    font-size: 48px;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 21px;
    margin-bottom: 35px;
    padding-right: 10%;
  }
}



