.modal {
  // display: none; (должно стоять для коректной работы fancy)
  height: 100%;
  width: 100%;
  z-index: 10;
  position:fixed;
  top:0;
  left:100%;
  opacity:0;
  transition: opacity .4s;

  &--active{
    left: 0;
    opacity:1;
    transition: opacity .4s;
  }

  // это для добавления затемнения фона, без fancybox
  &__for-background {
  height: 100%;
  width: 100%;
  background-color: #333537;
  opacity: 0.7;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    padding: 37px 66px;
    text-align: center;
  }

  &__content {
    margin-bottom: 18px;
  }

}