.reviews {
  &__display {
    background: #F8FAF9;
    padding: 42px;
  }

  &__displey-inner {
    display: flex;
  }

  &__avatar {
    width: 253px;
    height: 264px;
  }

  &__avatar-img {
    object-fit: cover;
    widows: 100%;
    height: 100%;
  }

  &__content {
    flex: 1;
    margin-left: 40px;
    padding-top: 25px;
    padding-right: 85px;
  }

  &__title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 9px;
    color: $black;
  }

  &__text {
    margin-bottom: 24px;
    line-height: 1.25;
  }

  &__author {
    color: $black;
  }

  &__switcher {
    display: flex;
    justify-content: center;
  }
}
