.section {
  height: 100vh;
  min-height: rem(652px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--font-color--white {
  background: url(../../img/background/order-back.png) center center no-repeat;
  object-fit: cover;
  background-size: cover;
  color: #fff;
}

.section__title {
  font-size: rem(48px);
  font-weight: bold;
  margin-bottom: 3.33rem;
  text-align: center;
  text-transform: uppercase;

  &--review {
    margin-bottom: 1.44rem;

    @include tablets {
      margin-bottom: rem(34px);
    }
  }

  &--form {
    margin-bottom: 2.78rem;
  }
}
