.slider {

  &--container {
    position: relative;
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13%;

    @include tablets {
      flex-direction: column;
      gap: rem(29px);
    }
  }

  // доска и пятно
  &__pic {
    width: rem(420px);
    position: relative;

    @include tablets {
      width: rem(326px);
    }
  }

  &__board {
    width: 95%;
    height: 95%;
    transform: translate(19%, 5%);

    @include tablets {
      transform: translate(5%, 7%);
    }
  }

  &__spot {
    width: 95%;
    height: 95%;
    position: absolute;
    top: 56%;
    left: 62%;
    transform: translate(-50%, -50%);
    z-index: $z-shop;

    @include tablets {
      transform: translate(-65%, -44%);
    }
  }

  // 

  &__inf {
    flex: 1;

    @include tablets {
      text-align: center;
    }
  }

  // иконка параметров
  &__param {
    width: rem(91px);
    height: rem(91px);
    background: #3A587E;
    border-radius: rem(5px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    margin-bottom: rem(54px);

    &:hover .parameters {
      left: rem(91px);
      opacity: .8;
    }

    @include tablets {
      display: none;
    }

    &-pic {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%);
      width: rem(38px);
      height: rem(38px);
    }

    &-text {
      color: white;
      margin-bottom: rem(12px);
    }
  }

  // 

  &__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: rem(36px);
    color: $black;
    margin-bottom: rem(26px);

    @include tablets {
      margin-bottom: rem(14px);
      font-size: rem(30px);
    }
  }

  &__decs {
    color: $gray;
    padding-right: rem(15px);
    line-height: 1.2;
    margin-bottom: rem(26px);

    @include tablets {
      padding: 0 rem(90px);
    }
  }

  &__price {
    font-size: rem(60px);
    color: #151515;
  }

  &__shop {
    display: flex;
    align-items: center;
    column-gap: rem(59px);

    @include tablets {
      justify-content: center;
    }
  }
}

