.socials {
  margin-right: 76px;
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 10px;
  position: relative;
  object-fit: cover;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 20px;
  height: 20px;
  background: center center no-repeat;
  

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.socials__item--item-vk .socials__link::before{
  background: url(../../img/icon/vk.png);
}

.socials__item--item-fb .socials__link::before{
  background: url(../../img/icon/fb.png);
}

.socials__item--item-inst .socials__link::before{
  background: url(../../img/icon/inst.png);
}

.socials__item--item-tw .socials__link::before{
  background: url(../../img/icon/tw.png);
}
